<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatapp</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css" >
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        body{
            font-family: 'Montserrat', sans-serif;
        }
        </style>
        <script src = "/socket.io/socket.io.js"></script>
   
        
</head>
    <body>

        <h3 class="text-primary text-center m-1">Chat App</h3>
        <div class="container mt-5">
        
            <div class="row">
                <div class="col-md-11"> 
                    <input type="text" name="text" id="message" placeholder='Type a message' class="form-control">
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger" onClick="sendmessage()">Send</button>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-body" style=" height: 500px; "  >
                      <div id="details"></div>
                      <div id="users"></div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-body" style=" height: 500px;  overflow-y: auto;" id="messagearea">
                
                    </div>
                </div>
            </div>
            <br>
        <div class="text-right">
            <p style="font-size:15px">Made with ❤️ in India </p>
        </div>
        
        </div>
        
        <script>
            const nameofuser = '<%= nameofuser %>';
            const username = '<%= username %>'
            document.getElementById('details').innerHTML='<div class="text-success"><p style="font-size:20px">Room ID: <%= roomID %> <br> Username: '+username+'<p></div>';
           const namespace = '/<%= roomID %>'
           
           var socket = io(namespace);
           socket.emit('userconnected',{username});
           function sendmessage(){
               
               var message = document.getElementById('message').value;
               console.log(message);
               socket.emit('messagesent',{message,nameofuser})
               console.log('Message Sent');
               document.getElementById('message').value=''; 
           }
           socket.on('mess',(data)=>{
               if(data.username==username){
                var temp ='<div class="m-1 p-1"  style="background-color:#101820FF; color:#FEE715FF ; border-radius: 5px; opacity: 0.8"><h6><b>'+data.name+'</b></h6>'+data.message+'</div>'+ document.getElementById('messagearea').innerHTML;

               }
               else{
               var temp ='<div class="m-1 p-1"  style="background-color:#FEE715FF; color:#101820FF ; border-radius: 5px; opacity: 0.8 ;"><h6><b>'+data.name+'</b></h6>'+data.message+'</div>'+ document.getElementById('messagearea').innerHTML;
               }
               document.getElementById('messagearea').innerHTML=temp;


            
           })

           socket.on('newuser',(data)=>{
                    document.getElementById('users').innerHTML='<hr><p style="font-size:20px">Users Connected</p>';
                    console.log(data.users);
                   data.users.forEach(element => {
                        document.getElementById('users').innerHTML+='<p>'+element+'</p>'
                      
                   });
           })
          
        </script>
    </body>
</html>