<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css" >
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        body{
            font-family: 'Montserrat', sans-serif;
        }
        </style>
</head>
<body>
    <div class="container">
        <div class="row m-5">
            <div class="col-md-6 m-auto">
                <div class="card card-body">
                    <div class="text-center text-primary">
                        <h4>Signup</h4>
                    </div>
                    <br>

                    <%- include ('./partials/messages'); %>

                    <form action="" method="POST">
                        <div class="form-group">
                            <label for="firstname">Firstname:</label>
                            <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Enter Firstname">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Lastname:</label>
                            <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Enter Lastname">
                        </div>
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" name="password" id='password' class="form-control" placeholder="Enter Password">
                        </div>
                        <div class="form-group">
                            <label for="repassword">Re-enter Password:</label>
                            <input type="password"  name="repassword" id="repassword" class="form-control" placeholder="Re-enter Password ">
                        </div>
                        <button class="btn btn-block btn-success" type="submit">Signup</button>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>